# Tuple

In [3]:
t1=(1,2,3,4,5)
t2=(1.1,2.2,3.3,4.4,5.5)
t3=('One','Two','Three','Four','Five')
t4=(True,False)

In [4]:
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [5]:
for i in t1:
    print(i)

1
2
3
4
5

In [6]:
for i in range(-1,-6,-1):
    print(t1[i])

5
4
3
2
1

In [7]:
t5=(1,1,1,1,1,)
t5

(1, 1, 1, 1, 1)

In [8]:
t6=('abc',)

In [9]:
t6

('abc',)

In [10]:
a=('abc')
print(type(a))
print(a)

<class 'str'>
abc

In [11]:
t1[1]=7
t1

TypeError: 'tuple' object does not support item assignment

In [12]:
t1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
touplelist=list(t1)
touplelist.append(6)
t1=tuple(touplelist)
print(t1)

(1, 2, 3, 4, 5, 6)

In [16]:
touplelist=list(t1)
touplelist.remove(6)
t1=tuple(touplelist)
print(t1)

(1, 2, 3, 4, 5)

In [18]:
touplelist=list(t1)
touplelist.insert(5,6)
t1=tuple(touplelist)
print(t1)

(1, 2, 3, 4, 5, 6)

In [20]:
touplelist=list(t1)
touplelist.pop(5)
t1=tuple(touplelist)
print(t1)

(1, 2, 3, 4, 5)

In [22]:
t5.count(1)

5

In [24]:
a=(1,2,3,4,5,3,4,5) # to print first duplicate
for i in a :
    c=a.count(i)
    if c>1 :
        print(i)
        break

3

In [26]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [28]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [30]:
tuplelist = list(t1)
tuplelist.clear()
t1 = tuple(tuplelist)
t1

()

In [32]:
del t1

In [34]:
t1

NameError: name 't1' is not defined