# Function

In [3]:
def fun():
    print("Assalam o alaikum")
fun()

Assalam o alaikum

In [5]:
fun()

Assalam o alaikum

In [7]:
def fun1(temp):
    print("Assalam o alaikum  : ",temp)

fun1('Hamdan')

Assalam o alaikum  :  Hamdan

In [11]:
def Q_age(name):
    print(name + ' How old are you ?')

Q_age('Aslam')

Aslam How old are you ?

In [13]:
def name(fname,lname):
  print(fname + " " + lname)

name('zafar','ul haq')

zafar ul haq

In [15]:
name('ul haq','zafar')

ul haq zafar

In [19]:
name(lname = 'ul haq',fname = 'zafar')

zafar ul haq

In [41]:
def greeting(*names):
    base = "🤝 Assalam o alaikum"
    if not names:
        return base + "!"
    elif len(names) == 1:
        return f"{base} {names[0]}!"
    else:
        return f'{base} {' ,'.join(names[:-1])} & {names[-1]}!'

print(greeting('Zafar', 'Hamdan', 'Shahzaib', 'Ayaan'))

🤝 Assalam o alaikum Zafar ,Hamdan ,Shahzaib & Ayaan!

In [45]:
def reverse(*string):
    return ','.join(string[::-1])

print(reverse('Zafar', 'Hamdan', 'Shahzaib', 'Ayaan'))

Ayaan,Shahzaib,Hamdan,Zafar

In [49]:
def reverse(string):
    return string[::-1]

print(reverse('Zafar'))

rafaZ

In [57]:
def mul_name(**names):
    print(names)
mul_name(n1="Zafar",n2="Ayaan",n3="Moeiz")

{'n1': 'Zafar', 'n2': 'Ayaan', 'n3': 'Moeiz'}

In [63]:
def fu_n(p='Zafar'):
    print("🤝 Assalam o alaikum " ,p , " !")

fu_n("Ayaan")
fu_n()

🤝 Assalam o alaikum  Ayaan  !
🤝 Assalam o alaikum  Zafar  !

In [65]:
def sum_fun(a,b):
  c = a+b
  return c

sum_fun(1,2)

3

In [67]:
c

NameError: name 'c' is not defined

In [69]:
c = 5
def sub_fun(a,b):
  c = a-b
  return c

sub_fun(5,2)

3

In [82]:
c = 5
def sub_fun(a,b):
  c = a-b
  return c

sub_fun(5,2)

3

In [84]:
c

5

In [86]:
c = 5
def fun():
  c = c + 1
  return c

fun()

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [88]:
c = 5
def fun():
  global c
  c = c + 1
  return c

fun()

6