# Lambda Function

In [3]:
fun = lambda : print("5 Minutes Engineering")

In [4]:
fun()

5 Minutes Engineering

In [5]:
Greetings =lambda x='name' : print("Assalam o alaikum ",x)

In [6]:
Greetings('Zafar')

Assalam o alaikum  Zafar

In [7]:
fun2 = lambda x,y : x if x>y else y
fun2(5,2)

5

In [8]:
fun3 = lambda x,y,z : x+y+z
fun3(5,2,1)

8

In [9]:
operation = lambda a, b, op: a + b if op == "add" else a * b
print(operation(2, 3, "add"))  # 5
print(operation(2, 3, "mul"))  # 6

5
6

In [10]:
names = ["Zafar", "Hamza", "Ali"]
scores = [90, 85, 92]

result = list(map(lambda x: f"{x[0]} scored {x[1]}", zip(names, scores)))
print(result)
# ['Zafar scored 90', 'Hamza scored 85', 'Ali scored 92']

['Zafar scored 90', 'Hamza scored 85', 'Ali scored 92']

In [11]:
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [2, 4, 6]

[2, 4, 6]

In [12]:
students = [
    {"name": "Zafar", "marks": 80},
    {"name": "Ali", "marks": 92},
    {"name": "Hamza", "marks": 85},
]

sorted_students = sorted(students, key=lambda s: s['marks'], reverse=True)
print([s['name'] for s in sorted_students])
# ['Ali', 'Hamza', 'Zafar']

['Ali', 'Hamza', 'Zafar']

In [13]:
multiply = lambda a: (lambda b: a * b)
double = multiply(2)
print(double(5))  # 10

10

In [14]:
power = lambda x: lambda y: y ** x
square = power(2)
cube = power(3)

print(square(4))  # 16
print(cube(2))    # 8

16
8

In [15]:
calc = {
    'add': lambda a, b: a + b,
    'sub': lambda a, b: a - b,
    'mul': lambda a, b: a * b,
    'div': lambda a, b: a / b if b != 0 else '∞',
}

print(calc['add'](5, 3))  # 8
print(calc['div'](10, 0)) # '∞'

8
∞